@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");

html {
  scroll-behavior: smooth;
}

body{
  margin: 0;
  padding: 0;
  font-family: 'Public Sans', sans-serif;
  font-size: 16px;
  background-color: var(--main-bg-color);
}

.App {
  border: 1px solid black;
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.section-title {
  margin: 3rem;
  font-size: 2rem;
  text-align: center;
}

/* colors */

:root {
  --main-bg-color: #f4f4f2;
  --second-bg-color: #495464;
  --main-contrast-color: #bbbfca;
  --second-contrast-color: #14274e;
  --main-black-color: #1c2b2d;
  --main-white-color: #f4f4f2;

  --darkmode-main-bg-color: rgb(14, 14, 14);
  --darkmode-second-bg-color: rgb(73, 73, 73);

  --rainbow-main-bg-color: rgb(228, 55, 217);
  --rainbow-second-bg-color: #8bc9bc;

}

/* header styling */

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-height: 200px;
  width: 100%;
  background-color: var(--main-bg-color);
  z-index: 5;
  transition: all 400ms;
}

.header.dark {
  background-color: var(--darkmode-main-bg-color)
}
.header.rainbow {
  background-color: var(--rainbow-main-bg-color)
}

.logo-box {
  display: flex;
/*   flex-direction: row; */
  align-items: center;
}

.logo-icon{ 
  font-size: 4rem;
  margin-left: 4rem;
  margin-right: 1.5rem;
  color: var(--main-black-color);

  align-self: center;
  animation-duration: 2s;
  animation-iteration-count: 1;
  transform-origin: bottom;
  animation-timing-function: cubic-bezier(0.300, 0.700, 0.400, 1);
  animation-delay: 2s;
  animation-name: bounce-7;
}

@keyframes bounce-7 {
  0%   { transform: scale(1,1)      translateY(0); }
  10%  { transform: scale(1.1,.9)   translateY(0); }
  30%  { transform: scale(.9,1.1)   translateY(-50px); }
  50%  { transform: scale(1.05,.95) translateY(0); }
  57%  { transform: scale(1,1)      translateY(-10px); }
  64%  { transform: scale(1,1)      translateY(0); }
  100% { transform: scale(1,1)      translateY(0); }
}

.header.dark .logo-icon {
  color: var(--main-white-color);
}


.head-title {
  justify-self: flex-start;
  color: var(--main-black-color);
  font-size: 3rem;
  letter-spacing: 0.1rem;
}


/* navbar */
.head-navbar {
  margin-top: 5.5rem;
  justify-self: flex-end;
}

.nav-link {
  color: var(--main-black-color);
  font-size: 1.5rem;
  text-decoration: none;
  font-weight: bold;
  letter-spacing: 0.1rem;
  margin-right: 3rem;
  transition: color 0.3s ease-in-out;
}

.burger {
  display: none;
}

.burger-navbar {
  display: none;
}

.header.dark .nav-link  {
  color: var(--main-white-color);  
}

.nav-link:hover {
  color: #c56183;
  text-decoration: underline;
}

.header.dark .nav-link:hover {
  color: var(--main-contrast-color);
}
.header.rainbow .nav-link:hover {
  color: var(--rainbow-second-bg-color);  
}

.btn-nav {
  padding: 0.5rem;
  border-radius: 1rem;
  border: none;
}

/* theme switch */
.theme-switcher {
  margin-top: 9rem;
  position: absolute;
  right: 3rem;
  font-size: 1.5rem;
  background-color: var(--main-black-color);
  padding: 0.4rem;
  border-radius: 1rem;
  cursor: pointer;
}

.fa-sun {
  color: var(--main-bg-color);
  margin-right: 0.7rem;
  transition: all 400ms;
}
.fa-sun.isActive{
  color: #ffcb8e;
  margin-right: 0.7rem;
}

.fa-moon {
  color: var(--main-bg-color);
  margin-right: 0.7rem;
  transition: all 400ms;
}
.fa-moon.isActive {
  color: rgb(36, 36, 119);
  margin-right: 0.7rem;
}

.fa-star {
  color: var(--main-bg-color);
  transition: all 400ms;
}
.fa-star.isActive {
  color: rgb(251, 77, 135);
}



/* main styling */
.main {
  background-color: var(--main-bg-color);
  transition: all 400ms;
}

.main.dark {
  background-color: var(--darkmode-main-bg-color);
}
.main.rainbow {
  background-color: var(--rainbow-second-bg-color);
}

.about {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  max-height: 600px;
}

.about-btn {
  width: 300px;
  height: 80px;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: bold;
  border-radius: 1rem;
  background-color: #e643f8;
  color: var(--main-bg-color);
  border: none;
  transition: transform 0.5s ease-in-out;
}

.main.dark .about-btn {
  color: var(--darkmode-main-bg-color);
}
.main.rainbow .about-btn {
  color: var(--rainbow-second-bg-color);
}

.about-btn:hover {
  transform: scale(1.1);
  background-color: var(--main-bg-color);
  color: #e643f8;
  border: solid #e643f8 2px;
  cursor: pointer;
}

.main.dark .about-btn:hover {
  color: #e643f8;
  background-color: var(--darkmode-main-bg-color);  
}
.main.rainbow .about-btn:hover {
  color: #e643f8;
  background-color: var(--rainbow-second-bg-color);  
}

.me {
  grid-column: 10/ 12; 
  grid-row: 2 / 10;
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 25%;
  filter: grayscale(0.1);
  transform: rotate(8deg);
  margin: 1rem;
  z-index: 0;
  transition: all 1s;
}

.me:hover {
  transform:scale(1.1);
  cursor: pointer;
}

.gaming {
  display: grid;
  width: 80%;
  grid-column: 1/ 10; 
  grid-row: 3 / 12;
  margin: 0;
  opacity: 0.02;
  transform: rotate(10deg);
}

.main.dark .gaming {
  filter: invert(1);
}

.bio {
  display: grid;
  grid-column: 2 / 9; 
  grid-row: 2 / 12;
  font-size: 1.7rem;
  letter-spacing: 0.02rem;
  z-index: 1;
  max-width: 750px;
}

.bio p{
  margin: 0;
  
}

.main.dark .bio {
  color: var(--main-white-color);
}

.bio-hi {
  font-size: 2.5rem;
}

.section-title {
  color: var(--main-black-color);
}

.main.dark .section-title {
  color: var(--main-white-color)
}

.main.rainbow .section-title {
  color: var(--rainbow-main-bg-color)
}

article {
  max-width: 1800px;
  margin: 0 auto;
}
/* Projects */
.projects-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
}

.project-card {
  display: flex;
  flex-direction: column;
  text-align: center;
  max-width: 250px;
  height: 400px;
  background-color: var(--main-bg-color);
  transition: all 0.6s ease-in-out;
  margin: 4rem 2rem;
  border-radius: 20px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  overflow: hidden;
  cursor: pointer;
}

.project-card:hover {
  background-color: var(--second-bg-color);
  color: var(--main-bg-color);
  transform: scale(1.4) rotate(1deg);
  z-index: 2;
}

.project-card img {
  width: 100%;
  min-height: 85%;
  object-fit: cover;
  border-radius: 20px 20px 0px 0px;
  margin: 0;
  filter: grayscale(0.2);
  transition: all 0.6s ease-in-out;
}
.project-card--desc {
  display: none;
  margin: 0 auto;
}

.project-card .bi {
  font-size: 1.2rem;
}

.project-card .wrapper {
  margin-top: auto;
  margin-bottom: 1em;
  display: flex;
  justify-content: space-around;
}

.project-card:hover > .project-card--desc {
  display: flex;
  max-width: 90%;
}

.project-card:hover > img {
  min-height: 0;
  height: 35%;
  transform: scale(1.35);
  object-position: center;
  margin-bottom: 1em;
}

.project-card .bi:hover{
  color:rgb(253, 188, 249);
  transform: scale(1.2);
}
/* Skills */
.skills-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: var(--main-contrast-color);
  padding: 2rem;
}

.main.rainbow .skills-container{
  background-color: var(--main-white-color);
}

.skill-card {
  text-align: center;
  margin: 2rem 3rem;
  max-width: 180px;
  transition: transform 0.5s ease-in-out;
  cursor: default;
}

.skill-card:hover {
  transform: scale(1.2);
}

.skill-card i {
  font-size: 4rem;
}

.skill-card h3 {
  margin-top: 1rem;
  font-size: 2rem;
}

.skill-card p {
  font-size: 1.2rem;
}

.skill-card:hover > .fa-sketch {
  color: #ffd57e;
}

.skill-card:hover > .fa-html5{
  color: #f08a5d;
}

.skill-card:hover > .fa-css3-alt{
  color: #0278ae;
}

.skill-card:hover > .fa-js-square{
  color: #ffd57e;
}

.skill-card:hover > .fa-react{
  color: #00bcd4;
}

/* achievements */

.achievements {
  background-color: var(--main-bg-color)
}

/* footer styling */
.footer {
  background-color: var(--main-black-color);
  color: var(--main-white-color);
  margin: 0;
  padding: 0;
  transition: all 400ms;
}

.footer.dark {
  background-color: var(--darkmode-main-bg-color);
}
.footer.rainbow {
  background-color: var(--rainbow-main-bg-color);
}

.contact-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-left: 2rem;
  font-size: 2rem;
  min-height: 180px;;
}

.contact-container i {
  margin-left: 1.5rem;
  padding: 0 1rem;
}


.fa-rebel {
  color: #ff414d;
  font-size: 1rem;
}

.footer.rainbow .fa-rebel {
  color: var(--rainbow-second-bg-color)
}

.copyright {
  text-align: center;
  font-size: 0.8rem;
  margin-bottom: 1rem;
  letter-spacing: 0.1rem;
}

.fa-arrow-up {
  font-size: 2rem;
  margin-top: 1rem;
  position: absolute;
  right: 2rem;
  color: var(--main-bg-color);
  transition: all 500ms ease-in-out;
}

.fa-arrow-up:hover {
  animation: bouncer 1000ms linear 0s infinite alternate;
}

@keyframes bouncer {
  50% {transform: translateY(-5px) scale(1.1) }
}

.bi {
  cursor: pointer;
  transition: all 400ms;
}

.bi:hover {
  transform: scale(1.1);
}


/* Breakpoints */

@media (max-width: 950px){
  .theme-switcher {
    margin-top: 3.5em;
  }

  .me {
    width: 100px;
    height: 100px;
  } 
  .about-btn {
    margin-top: 1em;
  }

  .projects-container {

  }

  .head-navbar {
    display: none;
  }

  .burger {
    display: flex;
    position: fixed;
    bottom: 1em;
    background-color: #e643f8;
    padding: 0.5em;
    right: 1em;
    border-radius: 1em;
    align-self: center;
    font-size: 2em;
    z-index: 10;
  }

  .burger:hover {
    transform: scale(1.1);
    text-decoration: none;
  }

  .burger-navbar {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-color: black;
    opacity: 0.9;
    z-index: 9;
  }
  
  .nav-link {
    margin: 0;
  }

  .burger-navbar a {
    font-size: 4rem;
  }

  .burger-navbar:nth-last-child(1) {
    margin-bottom: 1em;
  }

  .project-card:hover {
    transform: scale(1.5);
  }

  .skills-container {
    justify-content: center;
  }

  .skill-card {

  }

  .contact-container {
    flex-direction: column;
    justify-content: center;;
  }

  .contact-container i {
    margin: 0.25em;
  }

  .fa-arrow-up {
    margin-top: 1.38em;
  }

  .footer aside {
    margin: 1em;
  }
}